<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>update your form</h1>
    <form action="/updated" method="POST">
    <input type="text" name="name" placeholder="update your name"><br>
    <input type="email" name="email" placeholder="update your email"><br>
    <button type="submit" name="id" value='{{id}}'>update</button>
    </form>
</body>
</html>